.form-control {
    border: none;
}

.modal-ativo {
    background-color: rgb(0, 0, 0, 0.5);
    display: block;
}

#invalid-field-login {
    color: red;
    display: none;
    padding-left: 15px;
    padding-bottom: 15px;
}