@import 'modal.css';
@import 'tooltip.css';
@import 'dropdown-menu.css';

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

.nav-link {
    cursor: pointer;
}

.container-display-column {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#competitions {
    display: flex;
    margin-top: 50px;
    padding-left: 50px;
}

#contact img {
    width: 400px;
    border-radius: 5%;
}

#contact p {
    margin: 10px;
}

.main-container h1, #faq {
    padding-left: 50px;
}

#contact {
    display: flex;
    padding-left: 50px;
}

#footer {
    margin-top: 20px;
    background-color: bisque;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.item-competition {
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
}

.item-competition:hover {
    text-decoration: underline;
}

.list-descriptions li {
    display: none;
}

.list-descriptions li.active {
    display: block;
}

.list-questions dt {
    cursor: pointer;
}

.list-questions dd {
    display: none;
}

.list-questions dd.active {
    display: block;
}