@import 'modal.css';
@import 'tooltip.css';
@import 'dropdown-menu.css';
@import 'menu-mobile.css';
@import 'titles.css';
@import 'watch-games.css';

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

.container-navbar {
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

#list-navbar {
    display: flex;
}

#list-navbar li {
    padding: 0 10px;
    cursor: pointer;
}

#list-navbar li a:hover {
    font-weight: bold;
}

.container-display-column {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#competitions {
    display: flex;
    margin-top: 50px;
    padding-left: 50px;
}

#contact img {
    width: 400px;
    border-radius: 5%;
}

#contact p {
    margin: 10px;
}

.main-container h1 {
    padding: 40px 0 0 50px;
}

#faq, #number-titles-men, #number-titles-women {
    padding-left: 50px;
}

#contact {
    display: flex;
    padding-left: 50px;
}

#footer {
    margin-top: 20px;
    background-color: bisque;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.item-competition {
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
}

.item-competition:hover {
    text-decoration: underline;
}

.list-descriptions li {
    display: none;
}

.list-descriptions li.active {
    display: block;
}

.list-questions dt {
    cursor: pointer;
}

.list-questions dd {
    display: none;
}

.list-questions dd.active {
    display: block;
}

#open-close {
    font-style: italic;
    text-decoration: solid;
}

#countdown-olympics {
    padding-left: 50px;
    padding-bottom: 30px;
}

@media (max-width: 700px) {
    #list-navbar {
        display: none;
    }

    #list-navbar.active {
        display: block !important;
    }

    #list-navbar li {
        padding: 5px 0;
    }

    .container-navbar {
        padding-top: 0;
        height: auto;
    }
}