@import 'modal.css';
@import 'tooltip.css';
@import 'dropdown-menu.css';
@import 'menu-mobile.css';
@import 'titles.css';
@import 'watch-games.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: black;
}

h1, h2 {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

.container-navbar {
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

#list-navbar {
    display: flex;
}

#list-navbar li {
    padding: 0 10px;
    cursor: pointer;
}

#list-navbar li a:hover {
    font-weight: bold;
}

.container-display-column {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#competitions {
    margin-top: 50px;
    padding-left: 50px;
}

.list-competitions {
    display: flex;
}

.list-competitions .second, .list-competitions .third {
    padding-left: 20px;
}

#contact img {
    width: 400px;
    border-radius: 5%;
}

#contact p {
    margin: 10px;
}

.main-container h1 {
    padding: 40px 0 0 50px;
}

#faq, #number-titles-men, #number-titles-women {
    padding-left: 50px;
}

#contact {
    display: flex;
    padding-left: 50px;
}

#footer {
    margin-top: 20px;
    background-color: bisque;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.item-competition {
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
}

.item-competition:hover {
    text-decoration: underline;
}

.list-descriptions li {
    display: none;
}

.list-descriptions li.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-descriptions img {
    border-radius: 5%;
    margin: 20px 0;
    opacity: 0.3;
}

.list-descriptions img:hover {
    opacity: 1;
}

.list-questions dt {
    cursor: pointer;
    margin: 20px 0;
}

.list-questions dd {
    display: none;
}

.list-questions dd.active {
    display: block;
}

#open-close {
    font-style: italic;
    text-decoration: solid;
}

#gif-countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#countdown-olympics {
    padding-left: 50px;
    padding-bottom: 30px;
}

#slide-titles img {
    width: 100%;
    padding: 20px 200px;
    opacity: 0.7;
}

#slide-titles img:hover {
    opacity: 1;
}

.carousel-caption p {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

@media (max-width: 700px) {
    body, html {
        width: 100%;
    }

    #list-navbar {
        display: none;
    }

    #list-navbar.active {
        display: block !important;
    }

    #list-navbar li {
        padding: 5px 0;
    }

    .container-navbar {
        padding-top: 0;
        height: auto;
    }

    #contact {
        flex-direction: column;
    }

    .list-competitions {
        flex-direction: column;
    }

    .list-competitions .second, .list-competitions .third {
        padding-left: 0;
    }

    #competitions {
        margin-top: 10px;
        padding-left: 0;
    }

    #contact img, .list-descriptions img {
        max-width: 100%;
    }

    #gif-countdown {
        margin-bottom: 10px;
    }

    .main-container h1 {
        padding-top: 10px;
        padding-left: 10px;
    }

    #faq, #contact {
        padding-left: 20px;
    }

    #countdown-olympics {
        padding-left: 20px;
        padding-bottom: 0;
    }
}