body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#superliga {
    display: flex;
    width: 90%;
    margin-top: 50px;
    padding-left: 50px;
}

#superliga img, #contact img {
    width: 400px;
    border-radius: 5%;
}

#superliga p, #contact p {
    margin: 10px;
}

#faq {
    padding-left: 50px;
}

#contact {
    display: flex;
    padding-left: 50px;
}

#footer {
    margin-top: 20px;
    background-color: bisque;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}